/* Global Styles */

body {
  background-color: #350c38;
  margin: 5;
  padding: 5;
  font-family: "Liberation Sans",sans-serif;
  text-align: center;
  font-size: 22px;
  color: #deebe0; 
}

/* Header Styles */

header {
  background-color: #451a48;
  font-family: Monaco, monospace;
  padding: 25px;
}

h1 {
  margin: 0;
  color: #b1fee3;
  font-size: 50px;
}


/* Main Content Styles */

.container {
  margin: 20px;
}

.input-options {
  margin: 20px;
  width: 400px;
}

.upload-data {
    width: 400px;
    height: 60px;
    line-height: 10px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 15px;
    border-color: #b1fee3;
    margin-bottom: 10px;
    padding: 50px;
}

.upload-data p {
  margin-top: 14px;
  font-size: 0.5em;
}

#textarea {
  width: 400px;
  height: 318px;
  font-size: 0.65em;
}

.upload-data div {
  /* margin-top: -24px; */
}

.file-list {
  margin-top: 10px;
}

.progress-bar {
  margin-top: 20px;
}

#download-button {
  margin-top: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #b1fee3;
  border-radius: 15px;
  background-color: #47194a;
  width: 400px;
}

*[id="main-container"][data-dash-is-loading="true"]::before{
  content: "Your story is in the oven (this might take a few minutes)...";
  display: inline-block;
  color: rgb(179, 179, 179);
  font-size: 0.9em;
  visibility: visible;
}

.Select-control {
  border-width: 2px;
  border-style: solid;
  border-color: #b1fee3;
  border-radius: 15px;
  background-color: #47194a;
}
