/* styles.css */

.box {
    box-shadow: 10px 10px;
}

.upload-data {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.upload-progress, .generation-progress {
    width: 70%;
    padding: 5px;
}

.genre-dropdown {
    width: 200px;
}

.input-options {
    padding: 20px;
    border-radius: 20px;
}
